
.home-header {
    background: linear-gradient(100deg,#e9a859, #aee4eb);
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-container {
    background: black
}
.header-btn:hover {
    border-color: white;
}

.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 44px;
    margin-left: 30px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.home-main {
    margin: auto;
    margin-top: -50px;
    width: 100vw;
    height: 100vh;    
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.8)), url('../../utils/images/yoga_pose.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  750px;
}

.description {
    font-size: 66px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
}

.btn-section {
    position: absolute;
    left: 45vw;
    top: 20vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 24px;
    border-color: #FFA500;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    padding: 5px 10px;
}
#about-btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}
#about-btn:focus {
    box-shadow: none;
    background: white;
    border-color: white;
    color: black;
}
/* Center the option section */
.option-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add spacing below the dropdown */
    margin-left:35px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.option-section label {
    margin-bottom: 10px; /* Add spacing between label and dropdown */
    font-size: 20px;
}

.option-section select {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #FFA500;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 0, 0);
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 200px; /* Make it visually consistent */
}

.option-section select:hover {
    background-color: rgba(255, 165, 0, 0.2);
    color: rgb(255, 5, 5);
    border-color: white;
}

.option-section select:focus {
    border-color: #FFA500;
    box-shadow: 0px 0px 5px rgba(255, 165, 0, 0.8);
}
